*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilrouy";
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(152, 200, 152);
}

#pannel{
    width: 80%;
    height: 80%;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

#ptop{
    display: flex;
    justify-content: space-between;
    padding: 0px 25%;
    color:#fff;
    width:100%;
    height:100px;
    background-color: rgb(54, 115, 51);
}

.elem{
    
    display:flex;
    gap:10px;
    justify-content: center;
    align-items: center; 
}

.box{
    color:rgb(39, 140, 25);
    font-size:25px;
    font-weight:700;
    padding:10px;
    background-color: #fff;
    border-radius: 5px;
    padding:10px 20px;
}

#pbtm{
    width: 100%;
    height:calc(100% - 100px);
    padding: 20px;
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.bubble{
    width: 60px;
    height:60px;
    background-color:rgb(39, 140, 25);
    color:#fff;
    border-radius: 50%;
    display: flex;
    justify-content:center;
    align-items:center;
    font-weight: 700;
    font-size: larger;
}

.bubble:hover{
    cursor: pointer;
    background-color: rgb(10, 67, 3);
}



.ply-btn{
    background-color:rgb(39, 140, 25);
    color:#fff;
    font-weight: 700;
    font-size: larger;
    padding:20px;
    outline:none;
    border-radius:10px;
    text-decoration: none;
    border:none;
    margin-top:20px;
    transition: background-color 0.3s ease;


    /* display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top:20px; */
}

.ply-btn:hover {
    background-color: #135703;
}

.card{
    width:300px;
    display:flex;
    align-items:center;
    flex-direction:column;
    justify-content:center;
    height:300px;
    border:None;
    color:#135703;
}